/*
**	asset paths
*/
$image-path: "/themes/project/assets/build/img/";
$font-path: "/themes/project/assets/build/font/";

/*
**	Font face
*/
$font-primary: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-secondary: "Helvetica Neue",Helvetica,Arial,sans-serif;

/*
**	Colours
*/
$text-body: #666;
$text-dark: #222;
$text-darker: #000;
$text-link: blue;
